body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
h1{
    font-size: 50px;
}
.half{
    width: 50%;
    margin: 50px;
}
span{
    color: orange;
}
.half img{
    width: 80%;
    border-radius: 50%;
}
.click{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(to bottom right,orange,red);
    padding: 10px 30px;
    border-radius: 20px;
}
.back-img{
    background-image: url(Img/back.png);
    background-repeat: no-repeat;
}