body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
    color: rgb(71, 59, 59);
}
h2{
    font-size: 40px;
    color: gray;
}
.half{
    width: 50%;
    margin: 50px;
}
span{
    color: orange;
}
.half img{
    width: 80%;
    border-radius: 50%;
}
.click{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(to bottom right,orange,red);
    padding: 20px 40px;
    border-radius: 30px;
}
.back-img{
    background-image: url(Img/back.png);
    background-repeat: no-repeat;
} 
.box{
    box-shadow:10px 10px 5px gray;
    border-radius: 20px;
    width: 30%;
    padding: 20px;
    margin: 50px;
    text-align: center;
}
.box img{
    width: 100%;
    border-radius: 20px;
    
}
.center{
    text-align: center;
}
.color{
    height: 200px;
background-color: rgb(13, 13, 14);
color: white;
padding-top: 20px;
}